.no,
.row {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.bg-magenta {
  background-color: $magenta;
}

.bg-gray-light {
  background-color: #f5f5f5;
}

.text-magenta {
  color: $magenta;

  &:hover {
    color: $magenta;
  }
}

.text-blue {
  color: $blue;
}

.text-gray-light {
  color: $gray-light;

  &:hover {
    color: $gray-light;
  }
}

.text-gray-dark {
  color: $gray-dark;

  &:hover {
    color: $gray-dark;
  }
}

.text-f2 {
  font-size: 13px;
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
}

.bg-black {
  background-color: $dark;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.font-size-mid {
  font-size: 14px;
}

h2 {
  font-size: 20px;
  color: $magenta;
}

h3 {
  font-size: 16px;
}

.btn-primary {
  background-color: $blue;
}

.btn-warning {
  background-color: $yellow;
}
