/* Colors */
$magenta: #d35649;
$yellow: #e6ac5b;
$blue: #509bd7;
$dark: black;
$white: white;
$gray-dark: #1f1f1f;
$gray-middle: #444;
$gray-light: #98a4a5;
$gray-lighter: #eee;

/* Fonts */
$castoro: 'Castoro', serif;
$noto-sans: 'Noto Sans', sans-serif;